:root{
    --primary-color:#FF6C22;
    --text-color: #040D12;
    --bg-secondary: #FECDA6;
    --bg-primary: #FFFF;
    --bg-banner: #A6CF98;
    --text-bannerpr: #557C55;
    --bg-secondban:#FF9130;
    --text-secondban: #FF5B22;
    --bg-thrban:#FF7676;
    --text-thrban: #DA0C81;

}