@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --primary-color:#FF6C22;
    --text-color: #040D12;
    --bg-secondary: #FECDA6;
    --bg-primary: #FFFF;
    --bg-banner: #A6CF98;
    --text-bannerpr: #557C55;
    --bg-secondban:#FF9130;
    --text-secondban: #FF5B22;
    --bg-thrban:#FF7676;
    --text-thrban: #DA0C81;

}

body{
    height: 100%;
}

.content-urun-list{
    height: 100%;
    width: 20%;
    margin-left: 100px;
}


.cat-path {
    margin-left: 30px;
    margin-top: 30px;
    display: inline-block;
    width: 100%;
    margin-right: 20px;
    align-items: center;
    position: fixed;
    z-index: 9;
    position: sticky;
    flex-direction: row;
}
.cat-path span{
    color: var(--bg-secondban);
    font-size: 20px;
    font-weight: bold;
}



.accordion {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 20px;
    position: sticky;
    height: 100%;
    overflow-y: scroll;
    margin-top: 10px;
    float: left;
    overflow-y: scroll;
}
.accordion-item {
    /* border: 1px solid #ddd; */
    margin-bottom: 5px;
  }

  .accordion-header {
    background-color: #f1f1f1;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 5px;
  }
  .accordion-content {
    display: block;
    padding: 10px;
    overflow-y: scroll;
    height: 100px;
    margin-bottom: 5px;
  }

  .accordion-item.active .accordion-content {
  display: block;
}

.accordion-content-2{
    display: none;
}

.main-content{
    width: 70%;
    display: flex;
    float: right;
    height: 100%;
    position: relative;
    flex-direction: column;
    margin-top: 50px;
}
.main-content h2{
    position: relative;
    top: 0;
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: center;
    
}

.section{
    height: 100%;
    width: 100%;
    position: absolute;
    
}
.main-content-widget li{    
    display: inline-flex;
    height: fit-content; 
    font-size: 10px;
    column-gap: 20px;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
}



.input-btn{
    width: 200px;
    height: 100px !important;
}

.first-wg{
    color: white;
    background-color: var(--text-bannerpr);
    padding: 10px;
    border-radius: 10px;
    opacity: 0.4;
}

.first-wg:hover{
    background-color: var(--bg-primary);
    color: #040D12;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.second-wg:hover{
    background-color: var(--bg-primary);
    color: #040D12;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.third-wg:hover{
    background-color: var(--bg-primary);
    color: #040D12;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.fourth-wg:hover{
    background-color: var(--bg-primary);
    color: #040D12;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.five-wg:hover{
    background-color: var(--bg-primary);
    color: #040D12;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.six-wg:hover{
    background-color: var(--bg-primary);
    color: #040D12;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.second-wg{
    color: white;
    background-color: var(--bg-secondban);
    padding: 10px;
    border-radius: 10px;
    opacity: 0.4;
}
.third-wg{
    color: white;
    background-color: var(--text-color);
    padding: 10px;
    border-radius: 20px;
    opacity: 0.4;
}
.fourth-wg{
    color: white;
    background-color: var(--bg-secondary);
    padding: 10px;
    border-radius: 20px;
    opacity: 0.4;
}
.five-wg{
    color: white;
    background-color: var(--text-thrban);
    padding: 10px;
    border-radius: 20px;
    opacity: 0.4;
}
.six-wg{
    color: white;
    background-color:aquamarine;
    padding: 10px;
    border-radius: 20px;
    opacity: 0.4;
}

.img-box{
    margin-top: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    
}
.img-first{
    background-image: url(/assets/WhatsApp\ Görsel\ 2023-11-10\ saat\ 17.55.14_1e4aa0a3.jpg);
    width: 231px;
    height: 477px;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.img-second{
    background-image: url(/assets/img2.jpg);
    width: 231px;
    height: 477px;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.img-third{
    background-image: url(/assets/img3.jpg);
    width: 231px;
    height: 477px;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.img-fourth{
    background-image: url(/assets/img4.jpg);
    width: 231px;
    height: 477px;
    padding: 20px;
     transition: transform 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.img-card:hover{
      transform: scale(1.1);
}


.accordion{
    margin-bottom: 1000px;
    left: 0;
}