@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,700&display=swap');

:root{
    --primary-color:#FF6C22;
    --text-color: #040D12;
    --bg-secondary: #FECDA6;
    --bg-primary: #FFFF;
    --bg-banner: #A6CF98;
    --text-bannerpr: #557C55;
    --bg-secondban:#FF9130;
    --text-secondban: #FF5B22;
    --bg-thrban:#FF7676;
    --text-thrban: #DA0C81;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

a{
    text-decoration: none;
    color: black;
}
.container{
    width: 100vw;
    margin: 0 auto;
    background-color: var(--second-color);
    color: var(--black-color);
}
.header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    width: 100%;
    /* margin-left: 100px; */
    position: fixed;
    z-index: 1000;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    top: 0;
    background-color: #FFFF;
    padding-right: 200px;
    padding-left: 200px;
}

.header-top{
    display: flex;
    font-size: 10px;
    position: absolute;
    right: 30px;
    top: 5px;
}

.header-top ul{
    list-style-type: none;
    display: flex;
    column-gap: 20px;
    position: relative;
    color: gray;
    cursor: pointer;
    
}

.header-top ul li:hover{
    color: var(--bg-secondban);
}

.main{
    height: 100vh;

}


a img{
    width: 100px;
}

.search-box {
    display: block;
    margin: 0 auto;
    width: 50%;
    border-radius: 10px;
    height: 50px;
    border: none;
    background-color: antiquewhite;
    outline: none;
    text-align: center;
    
  }

  .search-box::-webkit-search-cancel-button,
  .search-box::-webkit-search-clear-button{
    display: none;
  }


.header-logo {
    font-size: 30px;
    font-weight: 500;
}
.main-nav-items{
    list-style-type: none;
    display: flex;
    justify-content: space-between;       
    column-gap: 30px;
    position: relative;
    bottom: 16px;
}


.header-top ul li:hover{
    animation: colorChange 0.5s;
}

.main-nav-item{
    margin-left: 20px;
    margin-top: 30px;
    display: flex;
}

.icon{
    color: var(--text-color);
    animation: colorChange 0.4s;
    display: inline-block;
}

.icon:hover{
    animation: none;
}


.main-nav-items a{
    color: var(--text-color);
    font-size: 13px;
    font-weight: 500;
    animation: colorChange 0.4s;
    display: inline-block;
}
.main-nav-items a:hover{
    animation: none;
}

.fa-magnifying-glass{
    position: relative;
    right: 80px;
}

.nav-list{
    display :flex;
    justify-content: space-evenly;
    font-size: 14px;
    position: relative;
    font-weight: 500;
    color: var(--text-color);
    bottom: 10px;
    margin-top: 130px;
    margin-left: 60px;
    margin-right: 60px;
}

.nav-list a:hover{
    color: var(--primary-color);
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: var(--primary-color);
    text-decoration-thickness: 2px;
    text-underline-offset: 0.6em;

}

.slider-container {
    width:80%;
    margin: 0 auto;
    
}


.slider {
    display: flex;
    margin-bottom: 50px;
}

.slide {
    
    margin-right: 20px;
    flex: 0 0 15%;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 20px;
    cursor: pointer;
    flex-direction: column;
    vertical-align: middle;
    text-align: center;
}

.slide img {
    border-top: none;
    border: 1px  solid gray;
    border-radius: 50%;
    background-size: cover;
    width: 70px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;

}

/* .slide img:hover{
    border: 1px solid var(--primary-color);
} */

.slide p {
    margin-top: 10px; /* Resim ile metin arasındaki boşluğu ayarlar */
    text-align: center;
   
}
.slide:hover img{
    border: 1px solid red !important;
   
}
.slide:hover p
{
    color: var(--primary-color);
    
}



.banner-widgets{
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: space-evenly;
    
}

.banner-list-item{
    font-size: 20px;
    color: var(--text-thrban);
    background-color: var(--bg-thrban);
    border-radius: 10px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}



.first{
    color: var(--bg-banner);
    opacity: 0.6;
    background-color: var(--bg-thrban);
}

.second{
    color: var(--text-bannerpr);
    background-color: var(--bg-banner);
    border: none;
    opacity: 0.6;
}

.third{
    color: var(--bg-secondban);
    background-color: var(--text-secondban);
    opacity: 0.6;
 
}

.fourth{
    color: var(--text-bannerpr);
    background-color: var(--bg-banner);
}


.favorite-items-list{
    display: flex;
    justify-content: center;
    column-gap: 100px;
    background-image: url(assets/Product_Background_Product_Background_ILk_Gun_202311061125.webp);
    background-repeat: no-repeat;
    margin-top: 80px; 
    height: 250px;
    width: 80vw;
    padding: 20px;
    position:relative;
    
}


.item{
    border: 2px solid #ccc;
    padding: 10px;
    text-align: center;
    
}

.item img{
    border-radius: 10px 10px 0 0;
    background-position: center ;
    background-size: cover;
    height: 275px;
    max-width: 100%;
    margin-top: 40px;
    
}

.item-inner{
    color: var(--bg-primary);
    margin-top: 10px;
    font-weight: bold;
    
}

.bottom-list{
    background-color: #FFEED9;
    position: absolute;
    height: 150px;
    width: 79%;
    bottom: 1;
    z-index: -1;
    border-radius: 0 0 10px 10px;
}


@keyframes colorChange{
    from{
        color: var(--text-color);
    }
    to{
        color: var(--primary-color);
    }
}

/* Kırmızı yer height 250px 
    ayrı div oluşuturup hegipt 50px 
    flex ver
    resimleri dive al
    kırmızı felx olacak ve padding vericelekr
    img ın boxına height 275px
    kırmızı ve beji ana dive al position absolute ve relative
*/
