@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color:#FF6C22;
    --text-color: #040D12;
    --bg-secondary: #FECDA6;
    --bg-primary: #FFFF;
    --bg-banner: #A6CF98;
    --text-bannerpr: #557C55;
    --bg-secondban:#FF9130;
    --text-secondban: #FF5B22;
    --bg-thrban:#FF7676;
    --text-thrban: #DA0C81;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Source Sans 3";
    font-size: 13px;
    overflow-x: hidden;
}

.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--text-black);
}

ul {
    list-style-type: none;
}

header {
    width: 100vw;
}

.main-header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.header-top {
    width: 1200px;
    height: 20px;
    display: block;
    z-index: 3;
}

.wrapper {}

.wrapper ul {
    height: 15px;
    padding-top: 3px;
    float: right;
    text-align: center;
}

.wrapper li {
    display: inline-block;
    padding-left: 30px;
}

.wrapper ul li a {
    color: var(--text-black);
    font-size: 12px;
    line-height: 15px;
    opacity: .5;
}

.wrapper ul li a:hover {
    opacity: .8;
    animation: color-change 0.7s infinite alternate;
}

.sticky-header {
    width: 100vw;
    background-color: white;
    position: fixed;
    padding-top: 20px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky-header-wrap {
    width: 1200px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}


.sticky-header  img {
    width: 210px;
    height: 100%;
}

.input {
    width: 40%;
    height: 42px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
 
}



.input input {
    height: 100%;
    padding-left: 15px;
    background-color: var(--bg-secondary);
    outline: none;
    border: none;
    border-radius: 10px;
}
input[type="search"]::-webkit-search-clear-button,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}


.fa-magnifying-glass {
    height: 100%;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 25px;
    padding-left: 5px;
    left: -40px;
    position: relative;
    cursor: pointer;
    top: 10px;
}

.account-navbar {}

.account-navbar ul {
    display: flex;
    column-gap: 40px;
    justify-content: center;
    align-items: center;
}

.account-navbar ul li a {
    color: var(--text-black);
}

.account-navbar ul li a:hover {
    animation: color-change 0.7s infinite alternate;
}

.account-navbar ul li i {
    font-size: 16px;
    padding-right: 3px;
}

.navbar {
    width: 1200px;
    height: 35px;
    margin-top: 66px;
    padding-top: 15px;
    z-index: 1;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
}

.navbar ul a {
    font-weight: 600;
    font-size: 14px;
    padding: 14px;
}

.navbar ul li a:hover {
    border-bottom: 3px solid var(--bg-secondban);
    color: var(--bg-secondban);
   
}

.navbar span {
    font-size: 12px;
    background-color: var(--bg-banner);
    color: var(--bg-primary);
    padding: 0px 3px;
    margin-left: 3px;
    border-radius: 16px;
}

.hr{
    margin-top: 15px;
    width: 100vw;
}

main {
    margin-top: 50px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider-list {
    width: 1200px;
    animation: slide-animation 100s infinite;
}

.slider-list ul {
    display: flex;
 
    column-gap: 50px;
}

.slider-list ul li {
    width: 150px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-list ul li a {
    width: 100%;
    height: 100%;
    text-align: center;
}

.slider-list ul li a:hover {
    color: var(--primary-color);
}

.slider-list ul li a img {
    width: 68px;
    height: 68px;
    border: 1px solid gray;
    border-radius: 50%;
}

.slider-list ul li a img:hover {
    border: 1px solid var(--bg-secondban);
}

.main-card {
    margin-top: 20px;
    width: 1200px;
}

.main-card ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-card ul li {
    width: 23%;
    height: 35px;
}

.main-card ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
}

#widget-1 a {
    color: rgb(0, 138, 0);
    background-color: rgb(178, 245, 162, .3);
}

#widget-2 a {
    color: rgb(173, 93, 1);
    background-color: rgb(247, 232, 205);
}

#widget-3 a {
    color: var(--text-secondary);
    background-color: rgb(247, 231, 238);
}

#widget-4 a {
    color: rgb(230, 138, 2);
    background-color: rgb(247, 232, 205);
}

.product-cards {
    margin-top: 50px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.product-list-item-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
}

.product-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.product-list-item img {
    width: 384px;
    height: 187px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.product-list-item img:hover {
    width: 385px;
    height: 188px;
}

.product-list-item button {
    width: 384px;
    height: 38px;
    background-color: var(--trendyol-black);
    color: var(--trendyol-white);
    font-size: 13px;
    font-weight: 500;
    border: none;
    border-end-start-radius: 5px;
    border-end-end-radius: 5px;
    text-align: start;
    padding-left: 15px;
    animation-duration: 5s;
}

.product-list-item button:hover {
    background-color: var(--bg-warning);
    cursor: pointer;
}

.product-slider {
    width: 1200px;
    background-image: url(/images/Product_Background_Product_Background_ILk_Gun_202311061125.webp);
    border-radius: 6px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
}

.product-slider-head {
    display: flex;
    justify-content: space-between;
    color: var(--trendyol-white);
    padding: 10px 20px;

}

.product-slider-head a {
    color: var(--text-white);
    text-decoration: underline;
}

.product-slider-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    overflow-x: scroll;
}

.product-slider-content-item {
    height: 375px;
    width: 25%;
    background-color: var(--trendyol-white);
    margin: 0 0 20px 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}


.product-slider-content-item img {
    width: 222px;
    height: 215px;
    border-radius: 5px;
    padding: 20px 50px;
}

.product-slider-content-item a {
    padding: 5px 5px 10px 15px;
    display: block;
    cursor: pointer;
}

.product-slider-content-item div span {
    color: var(--bg-gray);
    font-weight: 700;
}

.slider-price-alert {
    font-size: 12px;
    font-weight: 600;
    color: rgb(184, 0, 0);
}

.priceLeft {
    float: inline-start;
}

.crossedText {
    font-size: 14px;
    text-decoration: line-through;
    color: gray;
}






footer {
    padding: 50px 0 0 0;
    margin-top: 50px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    bottom: 0;
}

.footer-list-wrap {
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.footer-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-list div {
    width: 20%;
}

.footer-list div>a {
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.footer-list a:hover {
    text-decoration: underline;
}

.footer-list ul {
    line-height: 40px;
}

.footer-list ul li {
    color: white;
}

.footer-list ul li a {
    color: white;
}

#footerLi {
    font-size: 16px;
    font-weight: 700;
}

#footerLi>ul {
    display: flex;
}

#footerLi i {
    padding-top: 10px;
    padding-right: 10px;
    font-size: 30px;
}

#footerLi2 a {
    font-size: 13px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 1px 6px;
    text-decoration: none;
}

.copyright {
    width: 100vw;
    font-size: 11px;
    color: white;
    bottom: 0;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-banner);
    margin-top: 50px;
}

@keyframes slide-animation {
    0% {
      transform: translateX(0); 
    }
    25% {
      transform: translateX(-100%); 
    }
    50% {
      transform: translateX(-200%); 
    }
    75% {
      transform: translateX(-300%);
    }
    100% {
        transform: translateX(0);
    }
  }

  @keyframes color-change{
    0%{
        color: var(--text-color);
    }
    100%{
        color: var(--primary-color);
    }
  }